@import-normalize;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  rgb(112, 144, 175) url("assets/images/cloud.jpg") no-repeat 50% 50%  fixed;
  background-size: cover;
}

/*global css variables*/
:root {
  --main-text-color: #ece89f;
  --main-bg-color: #ecf1f6;
  --main-hover-color: #f1f1e7;
  --header-bgcolor: #48484a;
  --header-active-btn-bgcolor: #6a6a6f;
  --details-bgcolor: #9a9898;
  --chart-text-color: #9a9898;
  --card-btn-color: #6a6a6f;
  --card-bg-color: #242324;
}